<div class="header">
    <div class="logo-name">
        <div class="logo">
            <img src="~/scss/images/icons/logoDUE.jpg"
                 class="img-fluid"
                 alt="" />
        </div>
        <div class="event-name">
            <span class="logo-title-blue">50 năm</span><span class="logo-title-red"> DUE</span>
        </div>
    </div>

    <div class="search ">
        <input class="search-text form-control" type="search" placeholder="Nhập thông tin cần tìm kiếm" aria-label="Search">
        <i class="search-icon fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="icon-header">
        <!-- <i class="info-heart fa-regular fa-heart"></i> -->
        <i class="info-user fa-solid fa-user"></i>
        <!-- <i class="info-lang fa-solid fa-earth-americas"></i>                                      -->
    </div>
</div>