%logo-font{
    font-family: 'Lobster', cursive;
}

%header-font{   
    font-family: 'Arial', sans-serif;
    font-weight: bold
}

%body-content{   
    font-family: 'Times New Roman', cursive;
    font-weight: bold
}